<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Handlebars Here</title>
  </head>
  <body>
<!-- Your Handlebars code below -->
<!-- Test 1: print out a title and post to make the test pass (in the format Title: Post) -->

    {{#if title}}
    {{#if post}}
    {{title}}: {{post}}
    {{/if}}
    {{/if}}

<!-- Test 2: print out an array of our favourite people at FAC with <li> tags for each one-->

    {{#if people}}

    Our Favourite FAC people:
    <ul>
      {{#each people}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

    {{/if}}

<!-- Test 3: print out hello@foundersandcoders.com email and formatted telephone number to fit the test -->
<!-- nb. add a custom helper to format the phone number -->

    {{#if email}}
    {{#if number}}
    Please email {{email}} or call {{formatNumber number}} if you want to get in touch!
    {{/if}}
    {{/if}}

  </body>
</html>
